<!-- Navbar -->
<nav role="navigation">
  <div class="container d-flex justify-content-between align-items-center">
    <a class="skip-link" aria-label="Header" href="#header">
      <div class="logo" alt="logo"></div>
    </a>
    <ul>
      <li><a href="./" aria-label="Homepage">Home</a></li>
      <li class="coming-soon"><a href="#">Achievements</a></li>
      <li><a href="https://bucketlisty.hub.loginradius.com/auth.aspx?action=register&return_url=https://bucketlisty.com">Login</a></li>
    </ul>
  </div>
</nav>
<!-- Header -->
<header id="header">
  <div class="headline" alt="Header background">
    <div class="inner">
    </div>
  </div>
</header>