<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name=”robots” content=”index,follow”>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Sora&display=swap">
  <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Sora&display=swap">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  <title>Find the top unique bucket list ideas</title>
  <meta name="description" property="og:description" content="Want some unique and awesome bucket list ideas? We got plenty inspiring ideas covering various topics and categories. You can add your own custom ideas.">
  <link rel="canonical" href="https://bucketlisty.com">
  <meta property="og:title" content="Find the top unique bucket list ideas" />
  <meta property="og:site_name" content="Bucket Listy" />
  <meta property="og:url" content="//bucketlisty.com" />
  <noscript><style>body { visibility: visible; }</style></noscript>
</head>