<!-- Navbar -->
<nav role="navigation">
  <div class="container d-flex  justify-content-between align-items-center">
    <a class="skip-link" aria-label="Header" href="#header">
      <div class="logo" alt="logo"></div>
    </a>
    <ul class="w-100 justify-content-between justify-content-md-end">
      <li class="m-0 ms-md-4"><a href="./" aria-label="Homepage">Home</a></li>
      <li class="m-0 ms-md-4 coming-soon"><a href="#">Archive</a></li>
      <li class="m-0 ms-md-4"><a id="login" href="#">Login</a></li>
    </ul>
  </div>
</nav>
<!-- Header -->
<header id="header">
  <div class="headline" alt="Header background">
    <div class="inner">
    </div>
  </div>
</header>