@media(min-width: 769px) {
  .inner * {
    display: inline-block;
  }
}

// Tablets and smaller
@media(max-width: 768px) {
  body {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
  }
  .inner * {
    display: none;
  }
  i {
    // font-size: 2rem!important;
    font-size: clamp(1.5rem, 5vw, 2rem)!important;
  }
  .checkbox,
  .checkbox span {
    height: 3rem;
    width: 3rem;
  }
  footer {
    .cc-revoke {
      font-size: clamp(0.6rem, 2vw, 0.8rem);
    }
    &>.container {
      flex-direction: column-reverse;
    }
  }
}

// Smartphones
@media(max-width: 576px) {
  nav .logo {
    background: url("../img/favicon.ico") no-repeat center center;
    margin: 0;
    width: 75px;
  }
}

// Landscape
@media(max-heigth: 580px) {}