// Tablets and smaller
@media(max-width: 768px) {
  body {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
  }
  // .inner * {
  //   display: none;
  // }
  i {
    // font-size: 2rem!important;
    font-size: clamp(1.5rem, 5vw, 2rem)!important;
  }
  .checkbox,
  .checkbox span {
    height: 3rem;
    width: 3rem;
  }
  footer {
    .cc-revoke {
      font-size: clamp(0.6rem, 2vw, 0.8rem);
    }
    &>.container {
      flex-direction: column-reverse;
    }
  }
  nav .logo {
    background: url("../img/favicon.ico") no-repeat center center;
    margin: 0 20px 0 0;
    width: 40px;
  }
}

// Smartphones
@media(max-width: 480px) {
  nav .logo {
    margin: 0;
    width: 26px;
  }
}

// Landscape
@media(max-heigth: 580px) {}