.box {
  box-sizing: border-box;
  border: 3px solid transparent;
  background-clip: padding-box;
  padding: 0;
  display: flex;
  align-items: center;
  min-height: 10vh;
}

// Checkbox Tick
.checkbox {
  background-color: $secondary-color;
  // height: 28px;
  height: 2rem;
  // width: 28px;
  width: 2rem;
  margin: 0 .25em;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  span {
    position: relative;
    display: block;
    // height: 28px;
    // width: 28px;
    height: 2rem;
    width: 2rem;
    padding: 0;
    &:after {
      -moz-transform: scaleX(-1) rotate(135deg);
      -ms-transform: scaleX(-1) rotate(135deg);
      -webkit-transform: scaleX(-1) rotate(135deg);
      transform: scaleX(-1) rotate(135deg);
      -moz-transform-origin: left top;
      -ms-transform-origin: left top;
      -webkit-transform-origin: left top;
      transform-origin: left top;
      border-right: 4px solid transparent;
      border-top: 4px solid transparent;
      content: '';
      position: absolute;
      display: block;
      // height: 20px;
      // left: 3px;
      // top: 15px;
      // width: 10px
      height: 80%;
      width: 35%;
      top: 55%;
      left: 8%;
    }
  }
  input {
    display: none;
    &:checked+span:after {
      -webkit-animation: check .8s;
      -moz-animation: check .8s;
      -o-animation: check .8s;
      animation: check .8s;
      border-color: #555
    }
  }
  &:hover span:after {
    border-color: #999
  }
  // Tablets and smaller
  @media(max-width: 768px) {
    &:hover span:after {
      border-color: transparent;
    }
  }
}

// Placeholder Colors
input {
  &::placeholder {
    color: $error-color;
    opacity: 0.7;
  }
  &:focus::placeholder {
    color: transparent;
  }
}

// Particles-js Background Animation
#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  & canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
  }
}


/*** Transitions ***/

// Tick check
@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    // width: 10px;
    width: 35%;
  }
  50% {
    // height: 20px;
    // width: 10px;
    height: 80%;
    width: 35%;
  }
}

// Fade In-Out
.show {
  visibility: visible !important;
  opacity: 1 !important;
  max-height: 100% !important;
}

// Spin Animation
.spin:hover i {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 300ms;
  -webkit-animation-iteration-count: 4;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-name: spin;
  -moz-animation-duration: 300ms;
  -moz-animation-iteration-count: 4;
  -moz-animation-timing-function: ease-out;
  -ms-animation-name: spin;
  -ms-animation-duration: 300ms;
  -ms-animation-iteration-count: 4;
  -ms-animation-timing-function: ease-out;
  animation-name: spin;
  animation-duration: 300ms;
  animation-iteration-count: 4;
  animation-timing-function: ease-out;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Loading spinner

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ffffff;
  font-size: 1em;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #212529;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #212529;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}

// Loading spinner animation
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// Bootstrap toast
.toast {
  width:unquote("min(90vw,350px)");
}