<!-- Main -->
<section class="container">
  <div id="add-items" class="row g-0 mt-3 text-center">
    <div id="new-item" class="col-12">
        <input id="new-item-input" type="search" class="box fs-3 p-4">
    </div>
    <div class="col-12 row g-0">
      <div id="add-new-item-button" class="col-6 box justify-content-center">
        <i class="bi bi-plus-square fa-lg"></i>
        <span>New</span>
      </div>
      <div id="add-random" class="col-6 box justify-content-center spin">
        <i class="bi bi-dice-4 fa-lg"></i>
        <span>Add Random</span>
      </div>
    </div>
  </div>
  <div id="bucket-list" class="row g-0 my-3">
  </div>
</section>