<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%= head %>

  <body class="bg-dark" style="visibility: hidden;">
    <div id="particles-js"></div>
    <!-- Header -->
    <%= header %>
      <!-- Main -->
      <%= body %>
        <!-- Footer -->
        <%= footer %>
  </body>

</html>